<h1>About</h1>
<p>
	Find out a bit more about me. I am  
	<%= link_to "John Larkin", "http://johnlarkin.me" %>. A digital marketer teaching myself to code.
	</p>
	</p>
	Slowly...  
	
</p>

<p>
	This is built in Ruby on Rails, hosted on Heroku and images are hosted with AWS
	</p>

<p> Bear in mind this is just a fun personal project - upload your stuff here at your own risk :P </p>


